.MuiToolbar-root {
    background-color: #1f80ff;
    box-shadow: 0 2px 4px #333333;
}
.actions {
    position: absolute;
    right: 10px;
}
.navbar .MuiSvgIcon-root {
    color: white;
    cursor: pointer;
}